section{
    width             : 1100px;
    margin            : 0 auto;
    /*background-color  : white;*/
}
header{
    height            : 100px;
}
header{
    width: 1700px;
}


*{
    margin: 0;
    padding: 0;
    /*标准盒子*/
    box-sizing: border-box;
}
/* -----导航栏------*/
:root{
    --color-primary: #112339;
    --color-white: #e9e9e9;
    --color-black: #116bd9;
    --color-black-1: #212b38;
    --color-yellow: rgb(222, 139, 71);
}

header{
    font-family: sans-serif;
    background: var(--color-white);
    
    /*background-size: cover;*/
}
/*设置logo属性*/
.logo{
    color: var(--color-white);
    font-size: 45px;
}
.logo span{
    color: var(--color-primary);
}
/*第一个div*/
.menu-bar{
    background-color: var(--color-yellow);
    height: 100px;
    min-width: 100%;
    display: flex;
    /*让列表移到右边去*//*均匀的分配每一个元素*/
    justify-content: space-between;
    /*让文字居中*/
    align-items: center;
    padding: 0 5%;
    /*绝对定位*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
/*ul*/
.menu-bar ul{
    list-style: none;
    display: flex;
}
/*li*/
.menu-bar ul li{
    /*width: 120px;*/
    padding: 10px 20px;
    /*text-align: center;*/
    position: relative;
}
/*a*/
.menu-bar ul li a{
    font-size: 25px;
    color: var(--color-white);
    /*取消下划线*/
    text-decoration: none;
    transition: all 0.3s;
}
.menu-bar ul li a:hover{
    color: var(--color-black-1);
}
/*让下拉列表平铺*/
.dropdown-menu{
    display: none;
}
.menu-bar ul li:hover .dropdown-menu{
    display: block;
    /*绝对定位*/
    position: absolute;
    z-index: 999;
    left: 0;
    top: 100%;
    background-color: var(--color-yellow);
}
.menu-bar ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}

/*红旗*/
.hongqi{
    position: fixed;
    top: 30%;
    left: 10px;
    margin-right: 25px;
}
/*侧边按钮*/
.anniu li{
    list-style: none;
    margin-top: 30px;
}
.anniu{
    position: fixed;
    top: 40%;
    right: 40px;
}


button{
    width: 180px;
    height: 60px;
    background-color: var(--color-yellow);/*#262626;*/
    border-radius: 60px;
    letter-spacing: 6px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.85);
    border: 3px solid #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
button::before{
    content: "";
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: -10px;
    transform: skewX(-15deg);
    transition: 0.5s;
}
button:hover::before{
    left: 200px;
    
}

button::after{
    content: "";
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: -70px;
    transform: skewX(-15deg);
    transition: 0.5s;
    transition-delay: 0.2s;
}
button:hover::after{
    left: 200px;

}


section{
    margin            : 0 auto;
    overflow          : hidden;
    /* background: var(--color-black-1); */

}
/*--------滚动图片--------*/
.hezi{
    width: 1100px;
    height: 520px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    border: 6px solid;
    border-color: var(--color-yellow);
    border-radius: 0 0 25px 25px;
}

.tupian{
    width: 3600px;
    height: 520px;
    animation: mymove 13s infinite;
    
}
.tupian li{
    list-style: none;
    float: left;
}
@keyframes mymove{

    0%{transform: translateX(0px);}
    10%{transform: translateX(0px);}
    30%{transform: translateX(-1200px);}
    60%{transform: translateX(-2400px);}
    /* 90%{transform: translateX();} */
}
/*--------内容-------*/

.content{
    margin-top: 560px;
}
.one,.two,.three,.four,.five{
    margin-top: 40px;
    border: 6px solid; 
    border-radius: 25px;
    border-color: var(--color-yellow);
    background-color: #e0dfdf8d;
}

section p{
    font-family: "黑体";
    font-size: 20px;
    padding: 20px;
}


footer{
    margin: 0;
    padding: 0;
    /* background: #868686; */
    height: 250px;
    background: rgba(145, 145, 145, 0.735);

}
footer .down{
    width: 1500px;
    height: 250px;
    /* background-color: aqua;  */
    margin: 0 auto;

}
.right,.left{
    width: 700px;
    height: 200px;
    /* background-color: #212b38;  */
    float: left;
    margin: 25px;
}
div>.right_1,.right_2{
    width: 120px;
    height: 120px;
    float: left;
    margin-top: 45px;
    margin-left: 150px;
}
.left_1{
    margin-top: 65px;
    margin-left: 300px;
}
